h1{
    text-align: left;
    font-size: large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-decoration: underline;
}
h2{
    text-align: justify;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    text-transform: capitalize;

}
p{
    text-align: justify;
    font-size: small;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(10, 10, 10);
    text-transform: capitalize;
}
h3{
    text-align: center;
    text-transform: capitalize;
}
.s1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: size 25px;
    text-transform: capitalize;
}
.s2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    text-transform: capitalize;
}

nav{
    width: 1500px;
    height: 60px;
    background-color: black;
    color: orange;
    border: 20px;
    padding-top: 2px;
    display: flex;
    gap:200px;
}